/*-- DrLeonardo Design --*/
Button {
    -fx-cursor: hand;
}

/* Outputs */
#overlay > #output {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-font-family: monospace;
    -fx-font-size: 8pt;
}

#overlay > #output .content {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

/* Close button */
#overlay > #copy,
#overlay > #action.close {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-position: center;
    -jfx-button-type: FLAT;
    -fx-background-color: #2d83ce;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

#overlay > #copy:hover,
#overlay > #copy:focused,
#overlay > #action.close:hover,
#overlay > #action.close:focused,
#overlay > #copy:pressed,
#overlay > #action.close:pressed {
    -fx-background-color: #1568ce;
}

/* Kill button */
#overlay > #action.kill {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-position: center;
    -jfx-button-type: FLAT;
    -fx-background-color: #CE5757;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

#overlay > #action.kill:hover,
#overlay > #action.kill:focused,
#overlay > #action.kill:pressed {
    -fx-background-color: #DB5252;
}
/*-- DrLeonardo Design --*/