/*-- DrLeonardo Design --*/
#overlay>#description {
    -fx-font-size: 12pt;
    -fx-text-fill: #fff;
    -fx-wrap-text: true;
}

#overlay>#description.error {
    -fx-text-fill: red;
}

.progress-indicator:indeterminate *.segment {
    -fx-background-color: rgba(33, 150, 243, 0.8);
}

/*-- DrLeonardo Design --*/