/*-- DrLeonardo Design --*/
#holder {
	-fx-background-color: #fff;
}

/* Labels */
#holder > #settingsTitle {
    -fx-font-size: 14pt;
    -fx-alignment: baseline-center;
}

#holder > #apply{
    -fx-background-color: #61B373;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-position: center;
    -jfx-button-type: FLAT;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
}
#holder > #apply:hover,
#holder > #apply:focused{
    -fx-background-color: #74C085;
}

#holder > #modlist {
    -fx-background-color: transparent;
	
}
#holder > #modlist > .viewport {
    -fx-background-color: transparent;
}

.description-text {
	-fx-font-smoothing-type: lcd;
 	-fx-fill: #8c8c8c;
 	-fx-font-size: 12px;
}
.separator *.line {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 10 0;
}
/*-- DrLeonardo Design --*/