#holder {
	-fx-background-color: #fff;
}
/* Labels */
#holder > #settingsTitle {
    -fx-font-size: 14pt;
    -fx-alignment: baseline-center;
}

#holder > #apply{
    -fx-background-color: #61B373;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
}
#holder > #apply:hover,
#holder > #apply:focused{
    -fx-background-color: #74C085;
}

#holder > #modlist {
    -fx-background-color: transparent;
	
}
#holder > #modlist > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button, .increment-arrow, .decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.19);
    -fx-background-radius: 0;
}

.scroll-bar{
    -fx-font-size: 6px;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.check-box{
	-fx-background-color: transparent;
	-fx-text-fill:#2c2c2c;
	-fx-font-size: 13px;
    -fx-background-image: url('../../images/icons/checkbox.png');
	-fx-background-repeat: no-repeat;
}
.check-box .mark {
    -fx-background-color: transparent;
}
.check-box .box {
    -fx-background-color: transparent;
}
.check-box:selected{
	-fx-background-color: transparent;
    -fx-background-image: url('../../images/icons/checkbox_checked.png');
	-fx-background-repeat: no-repeat;
}
.check-box:selected .mark {
    -fx-background-color: transparent;
}
.check-box:selected .box {
    -fx-background-color: transparent;
}

.description-text {
	-fx-font-smoothing-type: lcd;
 	-fx-fill: #8c8c8c;
 	-fx-font-size: 12px;
}
.separator *.line {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 10 0;
}
