#overlay > #utitle {
    -fx-alignment: top-left;
}

#overlay > #description {
    -fx-alignment: top-left;
    -fx-wrap-text: true;
}

#overlay > #description.error {
    -fx-text-fill: red;
}

.downloadPane {
    -fx-background-color: rgba(0, 0, 0, 0.46);
}

/* Progress bar */
.progress-bar {
    -fx-indeterminate-bar-flip: false;
    -fx-background-color: transparent;
}

.progress-indicator{
    -fx-background-color: transparent ;
}

.progress-indicator .indicator {
    -fx-background-color: transparent ;
}

.progress-bar > .bar {
    -fx-background-image: url("../../images/downloader/line.png");
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
}
