Button, CheckBox, ComboBox, RadioButton {
	-fx-cursor: hand;
}

#layout {
    -fx-background-color: transparent;
}

#mask{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#link {
	-fx-font-weight: bold;
    -fx-font-size: 8pt;
    -fx-opacity: 0.5;
    -fx-text-fill: #ffffff;
}

#exitbtn{
	-fx-background-position: center; 
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
	-fx-background-radius: 0;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url('images/icons/close.png');
}
#hidebtn{ 
	-fx-background-position: center; 
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
	-fx-background-radius: 0;
	-fx-padding: 10;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url('images/icons/hide.png');
}

#hidebtn:hover, #hidebtn:pressed, #exitbtn:hover, #exitbtn:pressed, #link:hover, #link:pressed { -fx-opacity: 1; }

#password, #login {
    -fx-background-color: rgba(0, 0, 0, 0.08);
	-fx-background-radius: 0;
}

#discord_url{
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-background-image: url('images/icons/discord.png');
    -fx-background-repeat: no-repeat;
}
#discord_url:hover, #discord_url:pressed { -fx-opacity: 1; }

#rememberchb{
	-fx-background-color: transparent;
	-fx-font-size: 13;
    -fx-background-image: url('images/icons/checkbox.png');
	-fx-background-repeat: no-repeat;
}
#rememberchb .mark {
    -fx-background-color: transparent;
}
#rememberchb .box {
    -fx-background-color: transparent;
}
#rememberchb:selected{
	-fx-background-color: transparent;
    -fx-background-image: url('images/icons/checkbox_checked.png');
	-fx-background-repeat: no-repeat;
}
#rememberchb:selected .mark {
    -fx-background-color: transparent;
}
#rememberchb:selected .box {
    -fx-background-color: transparent;
}

#errormessage{
	-fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: #ffd96f;
}

.loginPane {
    -fx-background-color: rgba(0, 0, 0, 0.46);
}

.btn {
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
	-fx-background-radius: 0;
    -fx-background-color: #61B373;
    -fx-text-fill: #ffffff;
}
.btn:hover, .btn:selected {
    -fx-background-color: #74C085;
}

.text-input{
    -fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-text-fill: #E5E5E5;
	-fx-prompt-text-fill: #E5E5E5;
	-fx-background-color: transparent;
	-fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
	-fx-font-weight: bold;
}
.text-input:hover{
    -fx-background-color: transparent;
}
.text-input:focused{
    -fx-background-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.error{
    -fx-text-fill: #ff5555;
}