Button, CheckBox, ComboBox, RadioButton {
	-fx-cursor: hand;
}

#layout{
	-fx-background-color: transparent;
}

#mask {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#serverLabel{
	-fx-text-fill: #fff;
}

#exitbtn{
	-fx-background-position: center; 
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
	-fx-background-radius: 0;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url('images/icons/close.png');
}
#hidebtn{ 
	-fx-background-position: center; 
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
	-fx-background-radius: 0;
	-fx-padding: 10;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url('images/icons/hide.png');
}

#logoutbtn{
	-fx-background-color: #CE5757;
	-fx-text-fill: #fff;
	-fx-background-radius: 0;
	-fx-prompt-text-fill: #fff;
	-fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
	-fx-font-weight: bold;
}
#logoutbtn:hover{
	-fx-background-color: #DB5252;
}

#serverlist{
	-fx-background-color: transparent;
	-fx-padding: 5 10;
}
#serverlist > .viewport {
   -fx-background-color: transparent;
}

#serverdesc{
	-fx-background-color: transparent;
	-fx-padding: 5 10;
}
#serverdesc > .viewport {
   -fx-background-color: transparent;
}

#serverinfo{
    -fx-background-color: transparent;
}
#serverinfo > .viewport {
    -fx-background-color: transparent;
}

#servercontainer{
	-fx-background-color: transparent;
}
#servercontainer .toggle-button{
	-fx-background-color: transparent;
	-fx-pref-width: 161;
	-fx-pref-height: 50;
    -fx-background-image: url('images/icons/server.png');
	-fx-padding: 0 0 0 40;
    -fx-opacity: 0.7;
	-fx-alignment: CENTER-LEFT;
	-fx-text-fill: #fff;
	-fx-translate-y: -1px;
	-fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
	-fx-font-weight: bold;
}
#servercontainer .toggle-button:hover{
    -fx-opacity: 1;
}
#servercontainer .toggle-button:selected{
    -fx-opacity: 1;
    -fx-background-image: url('images/icons/server.png');
}

#discord_url{
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-background-image: url('images/icons/discord.png');
    -fx-background-repeat: no-repeat;
}
#settingsbtn{
    -fx-opacity: 0.4;
	-fx-background-position: center; 
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url('images/icons/settings.png');
}
#serverLaunch{
	-fx-background-radius: 0;
    -fx-font-weight: bold; 
    -fx-font-size: 18pt;
    -fx-background-color: #61B373;
    -fx-text-fill: #ffffff;
}
#clientbtn{
	-fx-background-radius: 0;
    -fx-background-color: #61B373;
    -fx-background-image: url('images/icons/options.png'); 
    -fx-background-repeat: no-repeat;
}
#serverLaunch:hover, #serverLaunch:pressed, #clientbtn:hover, #clientbtn:pressed {
    -fx-background-color: #74C085;
}
#settingsbtn:hover, #settingsbtn:pressed, #discord_url:hover, #discord_url:pressed, #hidebtn:hover, #hidebtn:pressed, #exitbtn:hover, #exitbtn:pressed { -fx-opacity: 1; }

.toggle-button:disabled{
	-fx-opacity: 1.0;
}
.menuPane {
    -fx-background-color: rgba(0, 0, 0, 0.46);
}

.heading{
    -fx-text-fill: #555555;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button, .increment-arrow, .decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.19);
    -fx-background-radius: 0;
}

.scroll-bar{
    -fx-font-size: 6px;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}