* {
    -fx-font-family: 'Open Sans', sans-serif;
}

#cellBox {
    -fx-alignment: center-left;
    -fx-padding: 0 5px 0 0;
}

#cellBox > #profileTitle {
    -fx-text-fill: black;
}

#cellBox > #serverStatus {
    -fx-text-fill: black;
    -fx-font-size: 9px;
}
