/*-- DrLeonardo Design --*/
/* Server buttons */

.server-button {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-size: cover;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 75;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-pref-width: 282px;
    -fx-pref-height: 75px;
}

.server-button:selected {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}


/** server-button-<your profile name> **/

.server-button-Example {
    -fx-background-image: url('images/servers/example.png');
}

/*-- DrLeonardo Design --*/