/*-- DrLeonardo Design --*/
/* Server buttons */

.server-button {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-radius: 0;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 75;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #323232;
    -fx-pref-width: 282px;
    -fx-pref-height: 75px;
}

.server-button:selected {
    -fx-effect: dropshadow(gaussian, rgba(23, 25, 29, 0.3), 15, 0, 0, 3);
}


/** server-button-<your profile name> **/

.server-button-Example {
    -fx-background-image: url('images/servers/example.png');
}

/*-- DrLeonardo Design --*/