/*-- Without jfoenix --*/
Button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

CheckBox .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

CheckBox .box,
CheckBox:indeterminate .box,
CheckBox:indeterminate:selected .box {
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 2;

    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

CheckBox:selected .box {
    -fx-border-color: rgba(76, 175, 80, 0.75);
    -fx-background-color: rgba(76, 175, 80, 0.75);
}

CheckBox .mark {
    -fx-background-color: TRANSPARENT;
}

CheckBox:selected .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: WHITE;

    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

CheckBox .indeterminate-mark {
    -fx-background-color: rgba(76, 175, 80, 0.75);
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}


/*-- JCat Design XD --*/
Button,
CheckBox,
ComboBox,
RadioButton {
    -fx-cursor: hand;
}


/* Backgrounds */
#layout {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-pref-width: 738px;
    -fx-pref-height: 450px;
    -fx-background-image: url('images/background.jpg');
}

#background {
    -fx-background-color: #222;
}

/** Labels **/
#background>#settingsTitle {
    -fx-font-size: 14pt;
    -fx-alignment: baseline-center;
}

#serverLabel {
    -fx-text-fill: #fff;
}

#serverStatus {
    -fx-text-fill: #fff;
    -fx-pref-width: 120px;
    -fx-pref-height: 25px;
}

/* Mask */
#mask {
    -fx-effect: DropShadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

/** Errors **/
#errormessage {
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: rgba(244, 67, 54, 0.75);
}

.error {
    -fx-text-fill: rgba(244, 67, 54, 0.75);
}

/* bars */
#bar {
    -fx-background-color: #111;
    -fx-pref-width: 46px;
    -fx-pref-height: 450px;
}

/** buttons in bar **/
#close,
#hide,
#back,
#goConsole,
#settings,
#link_discord {
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-pref-width: 46px;
    -fx-pref-height: 45px;
}

#close:hover {
    -fx-background-color: rgba(244, 67, 54, 0.75);
}
#hide:hover {
    -fx-background-color: rgba(33, 150, 243, 0.75);
}

#logout {
    -fx-text-fill: #fff;
    -fx-font-size: 12;
    -fx-font-weight: normal;
    -fx-border-color: rgba(244, 67, 54, 0.75);
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#logout:hover {
    -fx-background-color: rgba(244, 67, 54, 0.75);
}

#send {
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: rgba(33, 150, 243, 0.75);
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

#send:hover,
#send:pressed {
    -fx-background-color: rgba(33, 150, 243, 0.75);
}

/* LoginMenu */
#authPane {
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-pref-width: 270px;
    -fx-pref-height: 450px;
}

#logo {
    -fx-background-image: url('images/icons/logo.png');
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 125px;
    -fx-pref-height: 32px;
}

/** Buttons & textarea**/
.auth {
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1;
    -fx-text-fill: #fff;
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;
    -fx-effect: dropshadow(gaussian, rgba(23, 25, 29, 0.3), 15, 0, 0, 3);
}

.auth:hover,
.auth:pressed {
    -fx-border-color: rgba(76, 175, 80, 0.75);
    -fx-background-color: rgba(76, 175, 80, 0.75);
}

#password,
#login {
    -fx-background-radius: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.text-input {
    -fx-focus-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/** Hyperlink **/
#link_link {
    -fx-font-weight: bold;
    -fx-font-size: 7pt;
    -fx-opacity: 0.5;
    -fx-text-fill: #fff;
    -fx-pref-width: 80px;
    -fx-pref-height: 17px;
}

#link_link:hover,
#link_link:pressed {
    -fx-opacity: 0.8;
}

/** CheckBox & ComboBox**/
#rememberchb {
    -fx-font-size: 13;
    -fx-text-fill: #fff;
    -fx-pref-width: 145px;
    -fx-pref-height: 30px;
}

#combologin {
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #fff;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.combologin {
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #fff;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.combologin .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.combologin .arrow {
    -fx-background-color: rgba(76, 175, 80, 0.8);
}

.combologin-popup .list-view {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combologin-popup .list-view .list-cell:selected {
    -fx-background-color: #fff;
    -fx-text-fill: #111;
}

.combologin-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-text-fill: #333;
}

/** web**/
#news {
    -fx-background-color: transparent;
    -fx-pref-width: 423px;
    -fx-pref-height: 450px;
}

/* MenuPane */
.serverentrance {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 386px;
    -fx-pref-height: 450px;
}

/** buttons **/
.clientLaunch {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-text-fill: #fff;
}

.clientSettings {
    -fx-background-position: center;
}

.clientLaunch,
.clientSettings {
    -fx-border-color: #fff;
    -fx-border-width: 1;
}

.clientLaunch:hover,
.clientLaunch:pressed,
.clientSettings:hover,
.clientSettings:pressed {
    -fx-border-color: rgba(76, 175, 80, 0.75);
    -fx-background-color: rgba(76, 175, 80, 0.75);
}

/* Scrolls */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.19);
    -fx-background-radius: 0;
}

.scroll-bar {
    -fx-font-size: 6px;
}

.scroll-pane>.corner {
    -fx-background-color: rgba(0, 0, 0, 0.19);
}

/* OptionsPane */
#optionsPane>#modlist {
    -fx-background-color: transparent;
}

#optionsPane>#modlist>.viewport {
    -fx-background-color: transparent;
}

.description-text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: #ccc;
    -fx-font-size: 12px;
}

.modname {
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
}

.lineHead {
    -fx-stroke: #333;
    -fx-stroke-width: 1;
}

.separator *.line {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 10 0;
}

#serverlist {
    -fx-background-color: transparent;
}

#serverlist>.viewport {
    -fx-background-color: transparent;
}

#serverdesc {
    -fx-background-color: transparent;
}

#serverdesc>.viewport {
    -fx-background-color: transparent;
}

#serverinfo {
    -fx-background-color: transparent;
}

#serverinfo>.viewport {
    -fx-background-color: transparent;
}

#servercontainer {
    -fx-background-color: transparent;
    -fx-pref-width: 282px;
    -fx-pref-height: 75px;
}

.toggle-button:disabled {
    -fx-opacity: 1.0;
}

.heading {
    -fx-text-fill: #555;
}

#textField {
    -fx-font-size: 12px;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0.1);
}

/*-- JCat Design XD --*/