.text-input,
.check-box > .box,
.combo-box-base,
.combo-box-popup > .list-view {
    -fx-background-color: rgba(34,36,38,.15), white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3px;
}

.text-input:focused,
.check-box:hover > .box,
.check-box:focused > .box,
.combo-box-base:hover,
.combo-box-base:focused,
.combo-box-base:showing {
    -fx-background-color: rgba(34,36,38,.35), white;
}

/* Combobox-specific */
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #EFEFEF;
}
