version: "1.6.4";
assetIndex: "---"; # 1.7.10+ only

# Runtime-dependent params
dir: "XXXXX";
assetDir: "asset1.6.4";

# Client params
sortIndex: 0;
title: "XXXXX";
serverAddress: "server.tld";
serverPort: 25565;

# Updater and client watch service
updateFastCheck: true;
update: [
    "servers.dat"
];
updateVerify: [
    "libraries", "natives", "mods",
    "minecraft.jar", "forge.jar", "liteloader.jar"
];
updateExclusions: [];

useWhitelist: false;
whitelist: [];

# Client launcher params
mainClass: "net.minecraft.launchwrapper.Launch";
classPath: [ "forge.jar", "liteloader.jar", "minecraft.jar", "libraries" ];
jvmArgs: [
    "-Dfml.ignorePatchDiscrepancies=true",
    "-Dfml.ignoreInvalidMinecraftCertificates=true",

    # Some options from Mojang's launcher
    "-XX:+UseConcMarkSweepGC",
    "-XX:+CMSIncrementalMode",
    "-XX:-UseAdaptiveSizePolicy",
    "-Xmn128M",

    # JVM Attach protection
    "-XX:+DisableAttachMechanism",

    # Legacy bridge (for 1.6.4 & lower) settings
    "-Dlauncher.legacy.skinsURL=http://skins.minecraft.net/MinecraftSkins/%username%.png",
    "-Dlauncher.legacy.cloaksURL=http://skins.minecraft.net/MinecraftCloaks/%username%.png"
];
clientArgs: [
    "--tweakClass", "cpw.mods.fml.common.launcher.FMLTweaker",
    "--tweakClass", "com.mumfrey.liteloader.launch.LiteLoaderTweaker"
];
