/*-- DrLeonardo Design --*/

#holder {
    -fx-background-color: #fff;
}

#holder>#transferDialog {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 694px;
    -fx-pref-height: 425px;
}


/* Labels */

#holder>#settingsTitle {
    -fx-font-size: 14pt;
    -fx-alignment: baseline-center;
}

#holder #ramLabel,
#holder #dirLabel,
#holder #dirChange {
    -fx-font-weight: bold;
}


/* RAM slider */

#holder>#ramSlider>.track {
    -fx-background-color: #909090;
}

#holder>#ramSlider>.thumb {
    -fx-background-color: #5fd97a;
}

#holder>#ramSlider>.colored-track {
    -fx-background-color: #5fd97a;
}

#holder>#ramSlider>.animated-thumb {
    -fx-background-color: #5fd97a;
}

#holder>#ramSlider>.slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}


/* Dir options */

#holder>#deleteDir,
#cancelTransfer {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-position: center;
    -fx-background-color: #CE5757;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
}

#holder>#deleteDir:hover,
#cancelTransfer:hover,
#holder>#deleteDir:focused,
#cancelTransfer:focused {
    -fx-background-color: #DB5252;
}

#holder>#changeDir {
    -fx-background-color: transparent;
    -fx-text-fill: #909090;
    -fx-background-radius: 0;
}

#holder>#changeDir:focused,
#holder>#changeDir:pressed {
    -fx-font-weight: bold;
}

#holder>#apply,
#applyTransfer {
    -fx-background-color: #5fd97a;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-position: center;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
}

#holder>#apply:hover,
#applyTransfer:hover,
#holder>#apply:focused,
#applyTransfer:focused {
    -fx-background-color: #75e18c;
}


/*-- DrLeonardo Design --*/