#holder {
	-fx-background-color: #fff;
}
#holder > #transferDialog {
    -fx-background-color: RGBA(0, 0, 0, 0.9);
}
/* Labels */
#holder > #settingsTitle {
    -fx-font-size: 14pt;
    -fx-alignment: baseline-center;
}

#holder #ramLabel,
#holder #dirLabel,
#holder #dirChange {
    -fx-font-weight: bold;
}

/* RAM slider */
#holder > #ramSlider > .track {
    -fx-background-color: #D8E0E3;
    -fx-background-insets: none;
    -fx-background-radius: 2px;
    -fx-padding: 2px;
}

#holder > #ramSlider > .thumb {
    -fx-background-color: #3498DB;
    -fx-background-insets: none;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

#holder > #ramSlider:hover > .thumb {
    -fx-background-color: #2F8BC8;
}

#holder > #ramSlider:pressed > .thumb {
    -fx-background-color: #2876AA;
}

/* Dir options */
#holder > #deleteDir, #cancelTransfer {
    -fx-background-color: #CE5757;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#holder > #deleteDir:hover,#cancelTransfer:hover,
#holder > #deleteDir:focused,#cancelTransfer:focused {
    -fx-opacity: 0.8;
}

#holder > #changeDir {
    -fx-background-color: #B4B4B4;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#holder > #changeDir:hover,
#holder > #changeDir:focused {
    -fx-opacity: 0.8;
}

#holder > #changeDir:pressed {
    -fx-opacity: 0.8;
}

#holder > #apply,#applyTransfer{
    -fx-background-color: #61B373;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
}
#holder > #apply:hover,#applyTransfer:hover,
#holder > #apply:focused,#applyTransfer:focused{
    -fx-background-color: #74C085;
}

.check-box{
	-fx-background-color: transparent;
	-fx-text-fill:#2c2c2c;
	-fx-font-size: 13;
    -fx-background-image: url('../../images/icons/checkbox.png');
	-fx-background-repeat: no-repeat;
}
.check-box .mark {
    -fx-background-color: transparent;
}
.check-box .box {
    -fx-background-color: transparent;
}
.check-box:selected{
	-fx-background-color: transparent;
    -fx-background-image: url('../../images/icons/checkbox_checked.png');
	-fx-background-repeat: no-repeat;
}
.check-box:selected .mark {
    -fx-background-color: transparent;
}
.check-box:selected .box {
    -fx-background-color: transparent;
}
